.body {
    margin: 5px;
}

.link {
    text-decoration: none;
    color: black;
}

.link_button {
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    background-color: #777;
    border: 1px solid black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    float: right;
}

.controls {
    float: right;
}

.status {
    color: green;
}
.error {
    color: red;
}


.collapsable_container {
    width: 100%;
}

.collapsable_container .file {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.collapsable_container .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsable_container .active {
    background-color: #555;
}

.collapsable_container .content {
    padding: 5px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    min-height: 30px;
    border: 1px solid black;
}


.collapsable_container td {
    vertical-align: top;
    text-align: left;
}

.splitword {
    overflow-wrap: anywhere;
}

.collapsable_container img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.element {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.task_container {
    border: 1px solid; 
    overflow-x: hidden; 
    overflow-y: auto;
}

.task_container .task {
    display: flex;
    padding: 7px;
}

.task_container .task a {
    text-decoration: none;
    color: black;
}

.delete {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: black;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    line-height: 350%;
    text-decoration: none;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.category, .file {
    position: relative;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 15px;
}

.category a {
    text-decoration: none;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}